<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wevr_app">

    <!-- Camera permission: -->
    <uses-permission android:name="android.permission.CAMERA" />
    
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.microphone" android:required="true" />


    <!-- Microphone permission: -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- Contacts permission: -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <!-- Location permission: -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <!-- Storage permission: -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <!-- Phone permission: -->
    <uses-permission android:name="android.permission.CALL_PHONE" />


    <!-- SMS permission: -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />


    <!-- Calendar permission: -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />


    <!-- Sensors permission: -->
    <uses-permission android:name="android.permission.BODY_SENSORS" />


    <!-- Clipboard permission: -->
    <uses-permission android:name="android.permission.READ_CLIPBOARD_IN_BACKGROUND" />
    <uses-permission android:name="android.permission.WRITE_CLIPBOARD_IN_BACKGROUND" />


    <!-- Bluetooth permission: -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />


    <!-- Internet permission: -->
    <uses-permission android:name="android.permission.INTERNET" />


    <!-- Fingerprint permission: -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />


    <!-- Phone state permission: -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <!-- Network state permission: -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <!-- Installed Apps Access Permission -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />


    <!-- Provide required visibility configuration for API level 30 and above -->
    <queries>
        <!-- If your app checks for https URLs -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <!-- If your app checks for SMS support -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="sms" />
        </intent>
        <!-- If your app checks for call support -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="tel" />
        </intent>
    </queries>

    <application
        android:label="Wevr"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCMkk_sxmZiswgK9u3-BvcKoRHXzRnWEk8" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"
            />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>